html, body{
  height: 100%;
  line-height: 100vh;
  margin: 0%;
  text-align: center;
  width: 100%;
} 

a {
  background-color: #40231F;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-family: sans-serif;
  height: 44px;
  line-height: 44px;
  min-width: 167px;
  padding-inline: 10px;
  text-align: center;
  text-decoration: none;
  transition: filter 0.2s;
}

a:hover{
  filter: brightness(130%);
  transition: color 0.2s, filter 0.2s;
}
  

